<!doctype html>
<html lang="es">

<head>
	<!-- Material Dashboard CSS -->
	<link href="dashboard/assets/css/material-dashboard.css" rel="stylesheet" />
	<link href="dashboard/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="dashboard/assets/css/demo.min.css" rel="stylesheet" />

	<!-- Fonts and icons -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

	<!-- Slick -->
	<!-- <link rel="stylesheet" href="vendors/slick/slick.css">
	<link rel="stylesheet" href="vendors/slick/slick-theme.css"> -->

	<!-- Custom CSS -->
	<link href="dashboard/dashboardNew.css" rel="stylesheet" />
	<!-- <link href="dashboard/dashboardNew.css" rel="stylesheet" /> -->

</head>

<body ng-cloak>
	<div id="loginCard" ng-hide="loginSucces" class="row fade-animation">
		<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Login</h4>
				</div>
				<div class="card-content">
					<form ng-submit="login(user)">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group ">
									<label class="control-label">Correo</label>
									<input ng-model="user.email" type="text" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group ">
									<label class="control-label">Contraseña</label>
									<input ng-model="user.pass" type="password" class="form-control">
								</div>
							</div>
						</div>

						<div class="row fade-animation" ng-if="loading">
							<div class="col-xs-1 col-xs-offset-6">
								<img src="dashboard/cargando-loading-041.gif" alt="">
							</div>
						</div>

						<div class="row" ng-if="error && error !=''">
							<p class="col-xs-12 text-center">{{error}}</p>
						</div>

						<div class="row">
							<!-- <a href="#" class="file-uploader-btn">Volver</a> -->
							<button type="submit" ng-disabled="!user || !user.email || !user.pass" class="btn btn-primary pull-right">Iniciar Sesión</button>
							<div class="clearfix"></div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>


	<div id="Main-wrapper" ng-show="loginSucces">
		<div ng-if="infoAlert" class="alert alert-success fade-animation">
			<div class="container-fluid">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="material-icons">clear</i></span>
			</button> Cambios realizados de manera exitosa.
			</div>
		</div>

		<div class="wrapper" ng-cloak>
			<div class="sidebar" data-color="purple" data-image="dashboard/assets/img/sidebar-1.jpg">
				<div class="logo">
					<a href="#" class="simple-text">
					Gaura
				</a>
				</div>
				<div class="sidebar-wrapper">
					<ul class="nav">
						<li ng-repeat="option in options">
							<a href="" ng-click="changeOption($index)" ng-class="{'active':selectedOption===$index}">
	                        <i class="material-icons">dashboard</i>
	                        <p>{{option.name}}</p>
						</a>
							<ul ng-show="selectedOption===$index" class="nav sub-nav fade-animation">
								<li>
									<a ng-click="$parent.showList=false" href="">Crear Nuevo</a>
								</li>
								<li>
									<a href="" ng-click="$parent.showList=true">Editar</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div class="main-panel">
				<nav class="navbar navbar-transparent navbar-absolute">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
							<a class="navbar-brand" href="">Dashboard</a>
						</div>
						<div class="collapse navbar-collapse">
							<form class="navbar-form navbar-right" role="search">
								<div class="form-group  is-empty">
									<input type="text" class="form-control" ng-model="q" placeholder="Search">
									<span class="material-input"></span>
								</div>


								<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i><div class="ripple-container"></div>
							</button>
							</form>
						</div>
					</div>
				</nav>
				<div class="content">
					<div class="container-fluid">
						<div id="list-items" ng-if="selectedOption!=-1 && showList">
							<div class="row">
								<ul>
									<li ng-repeat="document in auxList | limitTo:5:(page*5)| filter:q as results">
										<div class="card col-xs-12 col-md-8 col-md-offset-2 " ng-init="getDownloadURL($parent.options[$parent.selectedOption].folder + '/' + document.$id, document)">
											<div class="card-header main-color">
												<p class="header-info text-center no-margin">{{document.name}} {{document.title}}</p>
											</div>
											<div class="card-content">
												<div class="row">
													<div class="col-xs-6 col-xs-offset-3">
														<img ng-src="{{document.link}}" class="img img-responsive" on-error-src="assets/img/products/Products1.png" />
													</div>
												</div>
												<div class="row">
													<div class="info-card-container">
														<p ng-if="document.description" class="text-center info-card">
															<span class="title-info"> Descripción: </span> {{document.description}}
														</p>
														<p ng-if="document.info" class="text-center info-card">
															<span class="title-info"> Información: </span> {{document.info}}
														</p>
														<p ng-if="document.category" class="text-center info-card" ng-init="showCategory(document)">
															<span class="title-info"> Categoría: </span> {{document.nameCategory}}
														</p>
														<p ng-if="document.inStock" class="text-center info-card">
															<span class="title-info"> ¿Se encuentra en stock?: </span> {{document.inStock}}
														</p>
														<p ng-if="document.qualification" class="text-center info-card" ng-init="">
															<span class="title-info"> Calificación: </span> {{document.qualification}}
														</p>
														<p ng-if="document.price" class="text-center info-card">
															<span class="title-info"> Precio: </span> {{document.price}}
														</p>
														<p ng-if="document.size" class="text-center info-card">
															<span class="title-info"> Tamaño: </span> {{document.size}}
														</p>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-3 text-left">
														<i class="material-icons box-effect edit-btn" ng-click="editDocuemnt(document)" title="Editar información">edit</i>
													</div>
													<div class="col-xs-6 text-center">
														<i class="material-icons box-effect" style="width:24px; cursor:pointer" ng-click="makeFeatured(document)" title="Establecer como joya importante"
														    ng-click="" ng-class="{'active-jewerly':document.$id == jewerlyFeatured.id}" ng-if="selectedOption===0">star_rate</i>
													</div>
													<div class="col-xs-3 text-right">
														<i class="material-icons close-btn box-effect" title="Eliminar" data-toggle="modal" data-target="#myModal" ng-click="prepDelete(document)">close</i>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="row" ng-show="auxList.length > 5">
								<div class="col-xs-2 text-left">
									<i ng-hide="page==0" class="material-icons box-effect edit-btn fade-animation" ng-click="page=page-1" title="Ir a página anterior">chevron_left</i>
								</div>
								<div class="col-xs-8 text-center">
									<div class="col-xs-4 ">
										<p class="btn-navigation box-effect pointer" title="Ir a la primera página de la lista" ng-click="page=0"> Inicio</p>
									</div>
									<div class="col-xs-4 ">
										<p class="btn-navigation box-effect pointer" title="Seleccionar cuantos items se ven por página"> {{page+1}}</p>
									</div>
									<div class="col-xs-4 ">
										<p class="btn-navigation box-effect pointer" title="Ir a la última página de la lista" ng-click="goToFinal()">
											Final
										</p>
									</div>
								</div>
								<div class="col-xs-2  text-right">
									<i class="material-icons close-btn box-effect" title="Ir a página siguiente" ng-hide="(page+1)*5>auxList.length" ng-click="page = page + 1">chevron_right</i>
								</div>
							</div>
						</div>


						<div class="row" ng-show="!showList">
							<div class="col-md-12">
								<div class="card" class="fade-animation" ng-show="selectedOption!=-1">
									<div class="card-header" data-background-color="purple">
										<h4 class="title">Crear/Editar {{options[selectedOption].name}}</h4>
									</div>
									<div class="card-content">
										<form ng-show="selectedOption===1" class="fade-animation" id="categoryForm" ng-submit="addNewDocument(category,categories,selectedOption)">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group ">
														<label class="control-label">Nombre</label>
														<input ng-model="category.name" type="text" class="form-control">
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Descripción</label>
														<div class="form-group ">
															<label class="control-label"> Ingrese la descripción del elemento</label>
															<textarea ng-model="category.description" class="form-control" rows="2"></textarea>
														</div>
													</div>
												</div>
											</div>


											<label for="file-uploader" class="file-uploader-btn">
											<input type="file" id="file-uploader" class="ng-hide"  onchange="angular.element(this).scope().filesChanged(this)" />											
											Subir Archivo 
										</label>
											<span>{{files[0].name}}</span>

											<button type="submit" ng-disabled="!category.name" class="btn btn-primary pull-right">Guardar</button>
											<div class="clearfix"></div>
										</form>

										<form ng-show="selectedOption===0" class="fade-animation" id="jewerlyForm" ng-submit="addNewDocument(jewerly,jewerlies,selectedOption)">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group ">
														<label class="control-label">Nombre</label>
														<input type="text" ng-model="jewerly.name" class="form-control">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group ">
														<label class="control-label">Precio</label>
														<input type="text" ng-model="jewerly.price" class="form-control">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="checkbox">
													<label>  
													<input type="checkbox" ng-model="jewerly.inStock" name="optionsCheckboxes" checked>
													¿Se encuentra en inventario en el momento?
												 </label>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Descripción</label>
														<div class="form-group ">
															<label class="control-label"> Ingrese la descripción del elemento</label>
															<textarea class="form-control" ng-model="jewerly.description" rows="2"></textarea>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="form-group ">
														<label class="control-label">Calificación</label>
														<select ng-model="jewerly.qualification" name="" id="">
														<option ng-value="1">1</option>
														<option ng-value="2">2</option>
														<option ng-value="3">3</option>
														<option ng-value="4">4</option>
														<option ng-value="5" selected>5</option>
													</select>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="form-group ">
														<label class="control-label">Categoría</label>
														<select ng-model="jewerly.category" name="" id="">
														<option  ng-repeat="category in categories" ng-value="category.$id">{{category.name}}</option>														
													</select>
													</div>
												</div>
											</div>

											<label for="file-uploader-jewerly" class="file-uploader-btn">
											<input type="file" id="file-uploader-jewerly" class="ng-hide"  onchange="angular.element(this).scope().filesChanged(this)" />											
											Subir Archivo 
										</label>
											<span>{{files[0].name}}</span>
											<button type="submit" class="btn btn-primary pull-right">Guardar</button>
											<div class="clearfix"></div>
										</form>

										<form ng-show="selectedOption===2" class="fade-animation" id="sliderForm" ng-submit="addNewDocument(slide,sliders,selectedOption)">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group ">
														<label class="control-label">Título</label>
														<input type="text" ng-model="slide.title" class="form-control">
													</div>
												</div>

											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>información</label>
														<div class="form-group ">
															<label class="control-label"> <!-- Ingrese la descripción del elemento --></label>
															<textarea class="form-control" ng-model="slide.info" rows="2"></textarea>
														</div>
													</div>
												</div>
											</div>

											<label for="file-uploader-slider" class="file-uploader-btn">
											<input type="file" id="file-uploader-slider" class="ng-hide"  onchange="angular.element(this).scope().filesChanged(this)" />											
											Subir Archivo 
										</label>
											<span>{{files[0].name}}</span>
											<button type="submit" ng-disabled="!slide.title && !slide.info" class="btn btn-primary pull-right">Guardar</button>
											<div class="clearfix"></div>
										</form>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="footer">
					<div class="container-fluid">
						<nav class="pull-left">
							<ul>
								<li>
									<a href="#">
	                                Home
	                            </a>
								</li>
								<li>
									<a href="#">
	                                Company
	                            </a>
								</li>
								<li>
									<a href="#">
	                                Portfolio
	                            </a>
								</li>
								<li>
									<a href="#">
	                               Blog
	                            </a>
								</li>
							</ul>
						</nav>
					</div>
				</footer>
			</div>
		</div>

		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Eliminar elemento</h4>
					</div>
					<div class="modal-body">
						<p>¿Desea eliminar el elemento?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="auxList.$remove(objectToRemove)">Eliminar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script src="dashboard/assets/js/material.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="dashboard/assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="dashboard/assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Material Dashboard javascript methods -->
<script src="dashboard/assets/js/material-dashboard.js"></script>

</html>