<div>
    <header>
        <!--//==preloader Start==//-->
        <!--   <div class="loading">
            <div>
                <div class="c1"></div>
                <div class="c2"></div>
                <div class="c3"></div>
                <div class="c4"></div>
            </div>
            <h3>Loading</h3>
        </div> -->
        <!--//==preloader End==//-->
        <!--//==top bar start==//-->
        <!-- <div class="top-bar-section1">
            <div class="col-md-12">
                <div class="container">
                    <div class="alert alert-success alert-dismissable">
                        <a href="" class="close" data-dismiss="alert" aria-label="close">×</a>
                        <p>Day Sale 20% off Everything. Shop Now</P>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="top-middle-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row pad-top-bottom25 head-top-sec">
                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                <figure class="logo-box">
                                    <a class="" href="">
                                        <img alt="" class="logo-img"  src="assets/img/logo.png"></a>
                                </figure>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="select-box">
                                    <div class="language-box2 top ">
                                        <p><a href=""><i class="fa fa-heart" aria-hidden="true"></i>Mi lista de deseos</a></p>
                                    </div>
                                    <!-- <div class="language-box2 ">
                                        <select>
                                                <option value="volvo">USD</option>
                                                <option value="saab">AUD</option>
                                                <option value="opel">EUR</option>
                                                <option value="audi">GBP</option>
                                            </select>
                                    </div>
                                    <div class="language-box1">
                                        <select>
                                                <option value="volvo">ENG</option>
                                                <option value="saab">GER</option>
                                            </select>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//==mega menu start==//-->
        <div id="main-menu" class="wa-main-menu">
            <!-- Menu -->
            <div class="wathemes-menu relative">
                <!-- navbar -->
                <div class="navbar navbar-default navbar-bg-dark" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="navbar-header pad-top15 pad-bottom15">
                                    <!-- Button For Responsive toggle -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span> 
                                        <span class="icon-bar"></span> 
                                        <span class="icon-bar"></span> 
                                        <span class="icon-bar"></span>
                                        </button>
                                    <div class="icons-section boxx pull-right">
                                        <ul>
                                            <li class="hidden-sm hidden-md hidden-lg hover-mini-cart">
                                                <a href="" class="mini-cart-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                                <div class="mini-card-section">
                                                    <div class="mini-cart-product-box pad-top20">
                                                        <div class="cart-img-box">
                                                            <figure>
                                                                <img src="assets/img/all/mini-cart-img1.jpg" alt="">
                                                            </figure>
                                                        </div>
                                                        <div class="cart-price-box">
                                                            <h5><a href="product-detail.html">Designer Jewellery</a></h5>
                                                            <p>$100x1</p>
                                                        </div>
                                                        <div class="cancle-box">
                                                            <a href="">x</a>
                                                        </div>
                                                    </div>
                                                    <div class="mini-cart-product-box pad-top20">
                                                        <div class="cart-img-box">
                                                            <figure>
                                                                <img src="assets/img/all/mini-cart-img1.jpg" alt="">
                                                            </figure>
                                                        </div>
                                                        <div class="cart-price-box">
                                                            <h5><a href="product-detail.html">Designer Jewellery</a></h5>
                                                            <p>$100x1</p>
                                                        </div>
                                                        <div class="cancle-box">
                                                            <a href="">x</a>
                                                        </div>
                                                    </div>
                                                    <div class="price-text-sec pull-right pad-top10">
                                                        <p>Total $200
                                                            <p>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div class="price-button-box pad-top10 pad-bottom20 pull-right">
                                                        <a href="cart.html" class="itg-button">View cart</a>
                                                        <a href="checkout.html" class="itg-button pull-right ">Checkout</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="navbar-brand hidden-sm hidden-md hidden-lg logo-second" href="">
                                        <img class="site_logo logo-img" alt="Site Logo" src="assets/img/menu-logo.png">
                                        </a>
                                </div>
                                <!-- Navbar Collapse -->
                                <div class="navbar-collapse collapse">
                                    <!-- nav -->
                                    <ul class="nav navbar-nav">
                                        <li>
                                            <a href="">Inicio</a>
                                        </li>
                                        <li>
                                            <a href="">Localizador de tiendas</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="account.html">Account</a></li>
                                                <li><a href="coming-soon.html">Comming Soon</a></li>
                                                <li><a href="404-page.html">404 Error</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">Colecciones</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="collection-fullwidth.html">Collection Full</a></li>
                                                <li><a href="">Collection Sidebar</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="order.html">Order</a></li>
                                                <li><a href="product-detail.html">Product Detail</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">Consejos Útiles</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="blog-grid-style1.html">Blogs Style 1</a></li>
                                                <li><a href="blog-grid-style2.html">Blogs Style 2</a></li>
                                                <li><a href="blog-list-sidebar.html">Blog List With Sidebar</a></li>
                                                <li class="left-side">
                                                    <a href="">Single Blog</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="blog-detail-sidebar.html">With Sidebar</a></li>
                                                        <li><a href="blog-detail-no-sidebar.html">Without Sidebar</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <!-- <li>
                                            <a href="faq-with-sidebar.html">
                                                Faqs 
                                                </a>
                                        </li>
                                        <li>
                                            <a href="contact-page.html">
                                                Contact
                                                </a>
                                        </li> -->
                                    </ul>
                                </div>
                                <!-- navbar-collapse -->
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-9 hidden-xs">
                                <div class="icons-section pad-top20 pull-right">
                                    <ul>
                                        <li class="search-box1 hidden-xs">
                                            <input class="search" type="search" placeholder="Search" />
                                            <div class="icon"><a href="" class="mini-cart-icon"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                        </li>
                                        <li class="hidden-xs login-box-man">
                                            <a href="" class="mini-cart-icon"><i class="fa fa-user " aria-hidden="true"></i></a>
                                            <div class="login-section">
                                                <ul class="pad-10">
                                                    <li><a href="">My Wishlist</a></li>
                                                    <!-- <li><a href="">Sign In</a></li>
                                                    <li><a href="">Create Account</a></li> -->
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="hidden-xs hover-mini-cart">
                                            <a href="" class="mini-cart-icon"><i class=" fa fa-shopping-cart" aria-hidden="true"></i></a>
                                            <div class="mini-card-section">
                                                <div class="mini-cart-product-box pad-top20">
                                                    <div class="cart-img-box">
                                                        <figure>
                                                            <img src="assets/img/all/mini-cart-img1.jpg" alt="">
                                                        </figure>
                                                    </div>
                                                    <div class="cart-price-box">
                                                        <h5><a href="product-detail.html">Designer Jewellery</a></h5>
                                                        <p>$100x1</p>
                                                    </div>
                                                    <div class="cancle-box">
                                                        <a href="">x</a>
                                                    </div>
                                                </div>
                                                <div class="mini-cart-product-box pad-top20">
                                                    <div class="cart-img-box">
                                                        <figure>
                                                            <img src="assets/img/all/mini-cart-img1.jpg" alt="">
                                                        </figure>
                                                    </div>
                                                    <div class="cart-price-box">
                                                        <h5><a href="product-detail.html">Designer Jewellery</a></h5>
                                                        <p>$100x1</p>
                                                    </div>
                                                    <div class="cancle-box">
                                                        <a href="">x</a>
                                                    </div>
                                                </div>
                                                <div class="price-text-sec pull-right pad-top10">
                                                    <p>Total $200
                                                        <p>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="price-button-box pad-top10 pad-bottom20 pull-right">
                                                    <a href="cart.html" class="itg-button">View cart</a>
                                                    <a href="checkout.html" class="itg-button pull-right ">Checkout</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- col-md-12 -->
                        </div>
                        <!-- row -->
                    </div>
                    <!-- container -->
                </div>
                <!-- navbar -->
            </div>
            <!--  Menu -->
        </div>
        <!--//==mega menu end==//-->
    </header>
</div>